config/Actions.dtd

<!ELEMENT ACTIONS (ACTION*)>
	<!ELEMENT ACTION (ACTION_ID, OPERATION, COMMAND+)>
		<!ELEMENT ACTION_ID (#PCDATA)>
		<!ELEMENT OPERATION (#PCDATA)>
		<!ELEMENT COMMAND (CREATE, CHANGE, DESTROY, MOVE)>
			<!ELEMENT CREATE (#PCDATA)>
			<!ELEMENT CHANGE (#PCDATA)>
			<!ELEMENT DESTROY (#PCDATA)>
			<!ELEMENT MOVE (#PCDATA)>