config/Game.dtd

<!ELEMENT GAME (SETUP)>
	<!ELEMENT SETUP (GAME_NAME, CANVAS_SIZE, BORDERS, PLAYERS)>
		<!ELEMENT GAME_NAME (#PCDATA)>
		<!ELEMENT CANVAS_SIZE (WIDTH, HEIGHT)>
			<!ELEMENT WIDTH (#PCDATA)>
			<!ELEMENT HEIGHT (#PCDATA)>
		<!ELEMENT BORDERS (STATE, COLOUR, SIZE)>
			<!ELEMENT STATE (#PCDATA)>
			<!ELEMENT COLOUR (#PCDATA)>
			<!ELEMENT SIZE (#PCDATA)>
		<!ELEMENT PLAYERS (MIN, MAX)>
			<!ELEMENT MIN (#PCDATA)>
			<!ELEMENT MAX (#PCDATA)>